<launch>

    <rosparam command="load" file="$(find apf_planner)/config/apf_params.yaml" />

    <arg name="with_virtual_walls"                                      default="false" />
    <arg name="prefix"                                                  default="" />
    <arg name="namespace"                                               default="custom"/>
    <arg name="experiment"                                              default="static" />
    <arg name="use_sim_time"                                            default="false"/>

    <param name="experiment"                                            value="$(arg experiment)" />
    <param name="use_sim_time"                                          value="$(arg use_sim_time)"/>


    <!-- Nel caso in cui venga specificato un namespace -->
    <group if="$(eval namespace != '')" ns="$(arg namespace)">

        <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen" clear_params="true">
            <param name="SBPLLatticePlanner/primitive_filename"                                                 value="$(find mir_navigation)/mprim/unicycle_highcost_5cm.mprim" />
            <rosparam file="$(find mir_navigation)/config/move_base_common_params.yaml"                         command="load" />
            <rosparam file="$(find mir_navigation)/config/sbpl_global_params.yaml"                              command="load" />

            <rosparam file="$(find apf_planner)/config/move_base_params.yaml"                                   command="load"/>


            <!-- global costmap params -->
            <rosparam file="$(find mir_navigation)/config/costmap_common_params.yaml"                           command="load"      ns="global_costmap"         subst_value="true" />
            <rosparam file="$(find mir_navigation)/config/costmap_global_params.yaml"                           command="load" />
            <rosparam file="$(find mir_navigation)/config/costmap_global_params_plugins_no_virtual_walls.yaml"  command="load"      unless="$(arg with_virtual_walls)" />
            <!-- local costmap params -->
            <rosparam file="$(find mir_navigation)/config/costmap_common_params.yaml"                           command="load"      ns="local_costmap" subst_value="true" />
            <rosparam file="$(find mir_navigation)/config/costmap_local_params.yaml"                            command="load"      subst_value="true" />
            <rosparam file="$(find mir_navigation)/config/costmap_local_params_plugins_no_virtual_walls.yaml"   command="load"      unless="$(arg with_virtual_walls)" />
            <remap from="map" to="/map" />
            <remap from="odom" to="/odom"/>
            <remap from="cmd_vel" to="/cmd_vel"/>
            <remap from="scan" to="/scan"/>
            <remap from="move_base_simple/goal" to="/custom/move_base_simple/goal"/>

        </node>
    </group>

    <!-- Nel caso in cui non venga specificato un namespace -->
    <group unless="$(eval namespace != '')">

        <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen" clear_params="true">
            <param name="SBPLLatticePlanner/primitive_filename"                                                 value="$(find mir_navigation)/mprim/unicycle_highcost_5cm.mprim" />
            <rosparam file="$(find mir_navigation)/config/move_base_common_params.yaml"                         command="load" />
            <rosparam file="$(find mir_navigation)/config/sbpl_global_params.yaml"                              command="load" />

            <rosparam file="$(find apf_planner)/config/move_base_params.yaml"                                   command="load"/>

            <!-- global costmap params -->
            <rosparam file="$(find mir_navigation)/config/costmap_common_params.yaml"                           command="load"      ns="global_costmap"         subst_value="true" />
            <rosparam file="$(find mir_navigation)/config/costmap_global_params.yaml"                           command="load" />
            <rosparam file="$(find mir_navigation)/config/costmap_global_params_plugins_no_virtual_walls.yaml"  command="load"      unless="$(arg with_virtual_walls)" />
            <!-- local costmap params -->
            <rosparam file="$(find mir_navigation)/config/costmap_common_params.yaml"                           command="load"      ns="local_costmap" subst_value="true" />
            <rosparam file="$(find mir_navigation)/config/costmap_local_params.yaml"                            command="load"      subst_value="true" />
            <rosparam file="$(find mir_navigation)/config/costmap_local_params_plugins_no_virtual_walls.yaml"   command="load"      unless="$(arg with_virtual_walls)" />
            <remap from="map" to="/map" />
            <remap from="odom" to="/odom"/>
            <remap from="cmd_vel" to="/cmd_vel"/>
            <remap from="scan" to="/scan"/>
            <remap from="move_base_simple/goal" to="/custom/move_base_simple/goal"/>

        </node>

    </group>
    
    <!-- <include file="$(find vrpn_client_ros)/launch/sample.launch">
        <arg name="server" value="192.168.1.130"/>
    </include> -->

    <arg name="server" default="192.168.1.130"/>

    <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
        <param name="server" value="$(arg server)"/>
        <param name="port" value="3883"/>
        <param name="update_frequency" value="30.0"/>
        <param name="use_server_time" value="false"/>
        <param name="broadcast_tf" value="true"/>
        <param name="refresh_tracker_frequency" value="1.0"/>
    </node>

    <!-- <node pkg="dual_pathway_interfaces"         type="optitracker_node.py"              name="optitracker"                      output="screen" /> -->
    <node pkg="dual_pathway_interfaces"         type="odom_world_static_broadcaster.py" name="calibration_node"                 output="screen" />
    <!-- <node pkg="dual_pathway_interfaces"         type="fake_optitracker_node_dynamic.py" name="optitracker_fake"                      output="screen" /> -->
    <node pkg="dual_pathway_interfaces"         type="hybrid_optitracker_node_dynamic.py" name="optitracker_hybrid"                      output="screen" />

    <node pkg="low_road"                        type="constraints_visualization.py"         name="constraint_visualizer_rviz"       output="screen" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mir_navigation)/rviz/navigation_real_world.rviz" output="screen" />


</launch>




